<h1>All Blog Posts</h1>
<ul>
<% posts.forEach(post => { %>
  <li><a href="<%= post.path %>"><%= post.title %></a> <small>published on <%= moment(post.date).format('DD MMMM YYYY') %></small>
<% }) %>
</ul>

<h1>All Shop Products</h1>
<ul>
<% products.forEach(product => { %>
  <li><a href="<%= product.path %>"><%= product.name %></a> <small>added on <%= moment(product.date).format('DD MMMM YYYY') %></small>
<% }) %>
</ul>

<h1>Shop Products by Category</h1>
<ul>
<% groupBy('category', products).forEach(category => { %>
  <li><a href="<%= category.path %>"><%= category.title %></a>
    <ul>
    <% category.items.forEach(product => { %>
      <li><a href="<%= product.path %>"><%= product.name %></a> <small>added on <%= moment(product.date).format('DD MMMM YYYY') %></small>
    <% }) %>
    </ul>
<% }) %>
</ul>