<%/*
  global properties:
    - settings.url

  exposed properties:
    - post.title
    - post.date
    - post.tags
    - post.type
    - post.content

  exposed utilities:
    - moment
    - groupBy
*/%>

<h1><%= post.title %></h1>
<p><%- post.content %></p>

<img src="<%= post.banner %>" />

<p><small><%= moment(post.date).format('DD MMMM YYYY') %></small></p>

<a href="<%= settings.url %>">Back to home</a>